<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <title>Document</title>
  </head>
  <body>
    <h3>Login</h3>
    <form action="/login" method="POST">
      <div>
        <label for="email">Email address</label>
        <input
          class="form-control mb-3"
          type="email"
          name="email"
          placeholder="Enter email"
          style="width: 300px"
        />
        <label for="password">Password</label>
        <input
          class="form-control mb-3"
          type="password"
          name="password"
          placeholder="Enter password"
          style="width: 300px"
        />
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </body>
</html>
